<% if SpreeI18n::Config.available_locales.many? %>
 <div id="locale-select" class="nozari-language nozari-dropdown">
  <a href="<%=root_path(locale: I18n.locale)%>#" class="active language-toggle" data-nozari="nozari-dropdown">
    <span>
      <%= Spree.t(:'i18n.this_file_language', locale: I18n.locale)  %>
    </span>
  </a>
  <ul class="nozari-submenu">
    <%available_locales_options.each do |f|%>
    <li class="switcher-option">
      <%= link_to root_path(locale: f[1]) do%>
        <span>
          <%=f[0]%>
        </span>
     <%end %>
    </li>
    <%end %>
  </ul>
</div>
 <% end %>

